<app-header></app-header> <br /><br />
<br /><br /><br /><br />
<div class="container">
  <h4>
    <label form="exampleFormControlInput1">ACCESO A MODULO DE CLIENTES</label>
  </h4>
  <br />
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="irAClientes()">
      Clientes
    </button>
  </div>
  <br /><br /><br /><br /><br />
  <h4>
    <label form="exampleFormControlInput1">ACCESO A MODULO DE PRODUCTOS</label>
  </h4>
  <br />
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="irAProductos()">
      Productos
    </button>
  </div>
  <br /><br /><br /><br /><br /><br />
  <button type="button" class="btn btn-dark" (click)="exit()">Logout</button>
</div>
<app-footer></app-footer>
